---
let allPages = await Astro.glob("../pages/**/*.{md,mdx}");

let currentPath = traimTrailingSlash(Astro.url.pathname);

function traimTrailingSlash(path: string) {
  if (path.endsWith("/")) {
    return path.slice(0, -1);
  }

  return path;
}

const linkedPages = allPages.filter((page) => {
  const compiledContent = page.compiledContent();

  return (
    page.url !== currentPath &&
    compiledContent.includes(`href="${currentPath}"`)
  );
});

const links = linkedPages.map((page) => ({
  url: page.url,
  title: page.frontmatter.title || page.url,
}));
---

<h2>연결된 페이지 (Backlinks)</h2>

{
  links.length === 0 ? (
    <p>연결된 페이지가 없습니다.</p>
  ) : (
    <ul>
      {links.map((link) => (
        <li>
          <a href={link.url}>{link.title}</a>
        </li>
      ))}
    </ul>
  )
}
